In [1]:
import numpy as np
import pandas as pd

In [2]:
username = 'codeup'
password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following conditions:

the password must be at least 5 characters  
the username must be no more than 20 characters  
the password must not be the same as the username  
bonus neither the username or password can start or end with whitespace

In [3]:
#the password must be at least 5 characters  


len(password) >=5

True

In [4]:
# the username must be no more than 20 characters  

len(username) <=20

True

In [5]:
# the password must not be the same as the username  

username != password

True

In [6]:
# bonus neither the username or password can start or end with whitespace

username[0] != ' ' and password[0] != ' '

True

## List Comprehension

In [7]:
# 17 list comprehension problems in python

fruits = ['mango', 'kiwi', 'strawberry', 'guava', 'pineapple', 'mandarin orange']

numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]

In [8]:
#  Exercise 1 - rewrite the above example code using list comprehension syntax.
#Make a variable named uppercased_fruits to hold the output of the list comprehension. 
#Output should be ['MANGO', 'KIWI', etc...]


uppercased_fruits = [fruit.upper() for fruit in fruits]
uppercased_fruits

['MANGO', 'KIWI', 'STRAWBERRY', 'GUAVA', 'PINEAPPLE', 'MANDARIN ORANGE']

In [9]:
# Exercise 2 - create a variable named capitalized_fruits and use list comprehension syntax
# to produce output like ['Mango', 'Kiwi', 'Strawberry', etc...]

capitalized_fruits = [fruit.capitalize() for fruit in fruits]
capitalized_fruits

['Mango', 'Kiwi', 'Strawberry', 'Guava', 'Pineapple', 'Mandarin orange']

In [10]:
# Exercise 3 - Use a list comprehension to make a variable named fruits_with_more_than_two_vowels.
#Hint: You'll need a way to check if something is a vowel.

def vowel_count(fruit):
    count = 0
    for char in fruit:
        if char.lower() in 'aeiou':
            count = count + 1
    return count

fruits_with_more_than_two_vowels = [fruit for fruit in fruits if vowel_count(fruit) >2 ]
fruits_with_more_than_two_vowels

['guava', 'pineapple', 'mandarin orange']

In [11]:
# make a list that contains each fruit with more than 5 characters

fruit_5_char = [fruit for fruit in fruits if len(fruit)>5]
fruit_5_char

['strawberry', 'pineapple', 'mandarin orange']

In [12]:
#Make a list containing the number of characters in each fruit. Output would be [5, 4, 10, etc... ]

number_of_char = [len(fruit) for fruit in fruits]
number_of_char

[5, 4, 10, 5, 9, 15]

In [13]:
# BONUS Make a variable named "primes" that is a list containing the prime numbers in the numbers list.
#*Hint* you may want to make or find a helper function that determines if a given number is prime or not.

In [14]:
def prime(x):
    if x > 1:
        for i in range(2,x):
            if x % i == 0:
                return False
        return True
    else: 
        return False

In [15]:
primes = [n for n in numbers if prime(n) == True]
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 5]

In [16]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [17]:
# How many students are there?

In [18]:
len(students)

14

In [19]:
#How many students prefer light coffee? For each type of coffee roast?
light_coffee_students = len([student for student in students if student["coffee_preference"] == "light"])
medium_coffee_students = len([student for student in students if student["coffee_preference"] == "medium"])
dark_coffee_students = len([student for student in students if student["coffee_preference"] == "dark"])

In [20]:
light_coffee_students, medium_coffee_students, dark_coffee_students

(3, 6, 5)

In [21]:
#How many types of each pet are there?
pets = [student['pets'] for student in students] 
pets = sum(pets, [])
pets

[{'species': 'horse', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'dog', 'age': 4},
 {'species': 'cat', 'age': 4},
 {'species': 'horse', 'age': 6},
 {'species': 'horse', 'age': 7},
 {'species': 'dog', 'age': 5},
 {'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 5},
 {'species': 'cat', 'age': 10},
 {'species': 'horse', 'age': 4},
 {'species': 'dog', 'age': 6}]

In [22]:
pet_species = [pet['species'] for pet in pets]

In [23]:
pet_species

['horse',
 'cat',
 'dog',
 'cat',
 'horse',
 'horse',
 'dog',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'cat',
 'horse',
 'dog']

In [24]:
pet_species_dict = {x:pet_species.count(x) for x in pet_species} # Converted list to dictionary

In [25]:
pet_species_dict

{'horse': 4, 'cat': 11, 'dog': 3}

In [26]:
len(pet_species_dict)

3

In [27]:
#How many grades does each student have? Do they all have the same number of grades?

In [28]:
def students_coffee_pref(x): 
     light_coffee_drinkers = 0 
     medium_coffee_drinkers = 0 
     dark_coffee_drinkers = 0 
    
  
     if x == 'light': 
         for i in range(0,len(students)): 
             if students[i]['coffee_preference'] == 'light': 
                 light_coffee_drinkers += 1 
         return light_coffee_drinkers 
     if x == 'medium':  
          for i in range(0,len(students)):  
                if students[i]['coffee_preference'] == 'medium':  
                 medium_coffee_drinkers += 1  
          return medium_coffee_drinkers

print(students_coffee_pref('light'))

3

In [29]:
#How many grades does each student have? Do they all have the same number of grades?

def student_grades(x):
    if x == 'grades':

        count = 0
    for i in range(0, len(students)):
        count = len(students[i]['grades'])
        print(f"{students[i]['student']} = {count}")
    

student_grades('grades')

#How many types of each pet are there?

pet_list = []
for i in range(0, len(students)):
    pet_list = pet_list + students[i]['pets']

print(pet_list)

pet_species = pet_list[0]

pet_dict = {x:pet_list.count(x) for x in pet_list}

print(pet_dict)

Ada Lovelace = 4
Thomas Bayes = 4
Marie Curie = 4
Grace Hopper = 4
Alan Turing = 4
Rosalind Franklin = 4
Elizabeth Blackwell = 4
Rene Descartes = 4
Ahmed Zewail = 4
Chien-Shiung Wu = 4
William Sanford Nye = 4
Carl Sagan = 4
Jane Goodall = 4
Richard Feynman = 4
[{'species': 'horse', 'age': 8}, {'species': 'cat', 'age': 0}, {'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}, {'species': 'horse', 'age': 6}, {'species': 'horse', 'age': 7}, {'species': 'dog', 'age': 5}, {'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}, {'species': 'cat', 'age': 10}, {'species': 'horse', 'age': 4}, {'species': 'dog', 'age': 6}]

TypeError: unhashable type: 'dict'

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import math

y = 0x + 1 and label the curve "O(1)"

In [ ]:
x = range(0,20)
y = [0*x +1 for x in x]
plt.figure(figsize=(14, 10))
plt.plot(x,y, label = '0(1)')
plt.ylim = (0, 2)
plt.xlim = (0, 20)

plt.xlabel('Elements')
plt.ylabel('Operations')
plt.legend(loc='best')

x = [i*0.1 for i in range(1,150)]
y = [math.log(x) for x in x]
plt.plot(x,y, label = 'i(log n)')
plt.legend(loc='best')

x = range(0,20)
y = x
plt.plot(x,y, label = '0(n)')
plt.title("0(n)")
plt.legend(loc='best')

x = [i for i in range(1,20)]
y = [math.log(x)*x for x in x]
plt.plot(x,y, label = '0(n log n)')
plt.legend(loc='best')

x = [i for i in range(1,10)]
y = [x**2 for x in x]
plt.plot(x,y, label = '0(n^2)')
plt.legend(loc='best')

x = [i for i in range(0,6)]
y = [2**x for x in x]
plt.plot(x,y, label = '0(2^n)')
plt.legend(loc='best')

x = [i for i in range(0,6)]
y = [math.factorial(x) for x in x]
plt.plot(x,y, label = '0(n!)')
plt.legend(loc='best')

x = [i for i in range(0,4)]
y = [(x**x) for x in x]
plt.plot(x,y, label = '0(n^n)')
plt.legend(loc='best')
plt.grid()
plt.ylim = (0,100)
plt.title("Big O Notation")

In [ ]:
x = [i*0.1 for i in range(1,100)]
y = [math.log(x) for x in x]
plt.plot(x,y, label = 'i(log n)')
plt.title("0(log n)")
plt.xlabel('Elements')
plt.ylabel('Operations')
plt.grid()
plt.legend(loc='best')

In [ ]:
x = range(0,20)
y = x
plt.plot(x,y, label = '0(n)')
plt.title("0(n)")
plt.xlabel('Elements')
plt.ylabel('Operations')
plt.legend(loc='best')
plt.grid()

In [ ]:
x = [i*0.1 for i in range(1,100)]
y = [math.log(x)*x for x in x]
plt.plot(x,y, label = '0(n log n)')
plt.title("0(n log n)")
plt.xlabel('Elements')
plt.ylabel('Operations')
plt.legend(loc='best')
plt.grid()

Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.
Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?
NPR Sunday Puzzle for 2016-04-03

Write some python code to solve the question above. You can find a list of words on your mac at /usr/share/dict/words.

In [ ]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

# print(words[:5])

In [ ]:
words = pd.Series(words)
words

In [ ]:
def len_5(x):
    if len(x) == 5:
        return True
    else:
        return False

In [ ]:
mask = words.apply(len_5)

In [ ]:
five_l_words = words[mask]
five_l_words

In [ ]:
# Can you think of a common five-letter word that works in the opposite way — 
# in which the value of the alphabetical positions of its last four letters add up to the value
# of the alphabetical position of its first letter?


def is_true(x):
    
    dictt = {'a':'1','b':'2','c':'3','d':'4','e':'5','f':'6','g':'7','h':'8',
        'i':'9','j':'10','k':'11','l':'12','m':'13','n':'14','o':'15','p':'16','q':'17',
        'r':'18','s':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'
        }
    y = x.lower()
    num = 0
    for i in range(1,len(x)):
        if dictt[y[i]] in 'abcdefghijklmnopqrstuvwxyz':
            num = int(dictt[y[i]]) + num
       
    if int(dictt[y[0]]) == num:
        return True
    else:
        return False
                                                             
is_true('aalii')

In [ ]:
# Welcome. In this kata, you are asked to square every digit of a number.
#For example, if we run 9119 through the function, 811181 will come out, because 92 is 81 and 12 is 1.
# Note: The function accepts an integer and returns an integer

def square_digits(num):
    list = []
    a = str(num)
    for i in range(0, len(a)):
        list.append(str(int(a[i])**2))
    return int(''.join(list))

In [ ]:

# You are going to be given a word. Your job is to return the middle character of the word. 
# If the word's length is odd, return the middle character. If the word's length is even, return the middle 2 characters.

def get_Middle(s): 
    if len(s)> 1:
    
        if len(s)% 2 == 1:
            middle = s[int((len(s)-1)/2)]
            return middle
        else:
            middle = s[int(len(s)/2-1)]+ s[int(len(s)/2)]
            return middle
    else:
          return s

In [ ]:
# Implement the function unique_in_order which takes as argument a sequence and returns a list of items without any elements with the same value
#  next to each other and preserving the original order of elements.

def unique_in_order(s):
    if len(s)>1:
        list = [s[0]]
        for i in range(1,len(s)):
            if s[i] != s[i-1]:
                list.append(s[i])
        return list
    else:
        return s

In [30]:
# This time no story, no theory. The examples below show you how to write function accum:

# Examples:

# accum("abcd") -> "A-Bb-Ccc-Dddd"
# accum("RqaEzty") -> "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"
# accum("cwAt") -> "C-Ww-Aaa-Tttt"

def accum(s):
    list = []
    for i in range(0, len(s)):
        list.append(s[i]*(i+1))
    for i in range(0, len(list)):
        list[i] = list[i].capitalize()
    
    return '-'.join(list)

In [31]:
# If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
# Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in.
# Note: If the number is a multiple of both 3 and 5, only count it once.

def solution(num):
    if num > 3:
        list = []
        for i in range(2, num):
            if i % 3 == 0 or i % 5 == 0:
                list.append(i)
                
        l = list[0]
        return sum([l for l in list])
        return list
    elif num == 3:
            return 3
    else:
        return 0

In [32]:

# Given a positive integer n written as abcd... (a, b, c, d... being digits) and a positive integer p

# we want to find a positive integer k, if it exists, such as the sum of the digits of n taken to the successive powers of p is equal to k * n.
# In other words:
# Is there an integer k such as : (a ^ p + b ^ (p+1) + c ^(p+2) + d ^ (p+3) + ...) = n * k

def dig_pow(n, p):
    # your code
    return -1