Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.
Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?
NPR Sunday Puzzle for 2016-04-03

Write some python code to solve the question above. You can find a list of words on your mac at /usr/share/dict/words.

In [2]:
import numpy as np
import pandas as pd

In [3]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

# print(words[:5])

['A', 'a', 'aa', 'aal', 'aalii']

In [4]:
words = pd.Series(words)
words

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
235886
Length: 235887, dtype: object

In [5]:
def len_5(x):
    if len(x) == 5:
        return True
    else:
        return False

In [6]:
mask = words.apply(len_5)

In [7]:
five_l_words = words[mask]

In [8]:
five_l_words

4         aalii
9         Aaron
20        abaca
27        aback
35        abaff
          ...
235714    zudda
235749    zygal
235796    zygon
235840    zymic
235841    zymin
Length: 10230, dtype: object

In [9]:
# Can you think of a common five-letter word that works in the opposite way — 
# in which the value of the alphabetical positions of its last four letters add up to the value
# of the alphabetical position of its first letter?


def is_true(x):
    
    dictt = {'a':'1','b':'2','c':'3','d':'4','e':'5','f':'6','g':'7','h':'8',
        'i':'9','j':'10','k':'11','l':'12','m':'13','n':'14','o':'15','p':'16','q':'17',
        'r':'18','s':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'
        }
    y = x.lower()
    num = 0
    for i in range(1,len(x)):
        num = int(dictt[y[i]]) + num
       
    if int(dictt[y[0]]) == num:
        return True
    else:
        return False
                                                             
is_true('aalii')

False

In [12]:
mask1 = five_l_words.apply(is_true)

In [13]:
five_l_words[mask1]

162735    raffe
172406    Sadie
181168    sifac
197206    table
210149    Uchee
226709    vakia
228545    Vicia
230352    wanga
231506    whack
234120    Xicak
234512    yeara
235088    zebra
dtype: object