Take the word EASY: Its first three letters — E, A and S — are the fifth, first, and nineteenth letters, respectively, in the alphabet. If you add 5, 1, and 19, you get 25, which is the value of the alphabetical position of Y, the last letter of EASY.
Can you think of a common five-letter word that works in the opposite way — in which the value of the alphabetical positions of its last four letters add up to the value of the alphabetical position of its first letter?
NPR Sunday Puzzle for 2016-04-03

Write some python code to solve the question above. You can find a list of words on your mac at /usr/share/dict/words.

In [1]:
import numpy as np
import pandas as pd

In [2]:
with open('/usr/share/dict/words') as f:
    words = f.read().split('\n')

# print(words[:5])

In [3]:
words = pd.Series(words)
words

0                  A
1                  a
2                 aa
3                aal
4              aalii
             ...
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
235886
Length: 235887, dtype: object

In [4]:
def len_5(x):
    if len(x) == 5:
        return True
    else:
        return False

In [5]:
mask = words.apply(len_5)

In [6]:
five_l_words = words[mask]

In [7]:
five_l_words

4         aalii
9         Aaron
20        abaca
27        aback
35        abaff
          ...
235714    zudda
235749    zygal
235796    zygon
235840    zymic
235841    zymin
Length: 10230, dtype: object

In [52]:
# Can you think of a common five-letter word that works in the opposite way — 
# in which the value of the alphabetical positions of its last four letters add up to the value
# of the alphabetical position of its first letter?


def is_true(x):
    
    dictt = {'a':'1','b':'2','c':'3','d':'4','e':'5','f':'6','g':'7','h':'8',
        'i':'9','j':'10','k':'11','l':'12','m':'13','n':'14','o':'15','p':'16','q':'17',
        'r':'18','s':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'
        }
    y = x.lower()
    num = 0
    for i in range(1,len(x)):
        if dictt[y[i]] in 'abcdefghijklmnopqrstuvwxyz':
            num = int(dictt[y[i]]) + num
       
    if int(dictt[y[0]]) == num:
        return True
    else:
        return False
                                                             
is_true('aalii')

False

In [71]:
mask1 = five_l_words.apply(is_true)

In [72]:
five_l_words[mask1]

Series([], dtype: object)

In [101]:

def t_numbers(n):
    
    t = []
    for i in range(0,n+1):
        t1 = int(i*(i+1)/2)
        t.append(t1)
    return t
t_numbers(30)

[0,
 1,
 3,
 6,
 10,
 15,
 21,
 28,
 36,
 45,
 55,
 66,
 78,
 91,
 105,
 120,
 136,
 153,
 171,
 190,
 210,
 231,
 253,
 276,
 300,
 325,
 351,
 378,
 406,
 435,
 465]

In [102]:
t2 = t_numbers(100)

In [103]:
def list2(x):
   
    dictt = {'a':'1','b':'2','c':'3','d':'4','e':'5','f':'6','g':'7','h':'8',
        'i':'9','j':'10','k':'11','l':'12','m':'13','n':'14','o':'15','p':'16','q':'17',
        'r':'18','s':'19','t':'20','u':'21','v':'22','w':'23','x':'24','y':'25','z':'26'
        }
    y = x.lower()
    num = 0
    for i in range(0,len(x)):
        if y[i] in 'abcdefghijklmnopqrstuvwxyz':
            num = int(dictt[y[i]]) + num
    
    if num in t2:
        return True
    else:
        return False

In [104]:
mask3 = words.apply(list2)

In [105]:
mask3

0          True
1          True
2         False
3         False
4         False
          ...
235882    False
235883    False
235884    False
235885    False
235886     True
Length: 235887, dtype: bool

In [107]:
words[mask3]

0                  A
1                  a
5                aam
15                Ab
18            Ababua
             ...
235825    zygosporic
235832       zygotic
235843       zymogen
235862     zymophyte
235886
Length: 16427, dtype: object